<div class="squads-balancer">
    <app-squad-selector class="left-squad-selector" (selectedSquad)="onLeftSelected($event)"></app-squad-selector>
    <div class="squads-comparator">
        <div class="squad-stats">
            <app-squad-stats [squad]="selectedSquads.left" class="left-squad-stats"></app-squad-stats>
            <app-squad-stats [squad]="selectedSquads.right" class="rigt-squad-stats"></app-squad-stats>
        </div>
        <app-fight-results [selectedSquads]="selectedSquads"></app-fight-results>
    </div>
    <app-squad-selector class="right-squad-selector" (selectedSquad)="onRightSelected($event)"></app-squad-selector>
</div>
